@import "./../../public/font/iconfont.css";
/*common*/
body
  font-family "helvetica neue",arial,sans-serif;
  font-size 14px;
  position relative
.contain
  width 1200px
  margin 0 auto
/*header*/
.header
  background url("./../../public/image/timg.jpg")no-repeat;
  height 300px;
  width 100%;
  background-position center 0;
  background-size cover;
  position relative
  .box
    width 1200px
    margin 0 auto
    .nav
      color #999
      .active
        border-bottom 1px solid #999
        padding-bottom 5px;
      .title
        color black
      i
        font-size 40px;
        color brown;
        vertical-align middle;
      span
        font-size 16px;
        vertical-align middle;
        margin-left 10px;
        cursor pointer;
        padding-bottom 5px;
  .search
    text-align center;
    margin-top 100px;
    form
      display inline-block;
      position relative;
      input:hover
        background rgba(0,0,0,0.30);
      input
        margin 0 auto;
        padding 0 10px;
        width 536px;
        height 34px;
        border 1px solid rgba(255,255,255,.8);
        border-radius 2px;
        color #fff;
        background rgba(0,0,0,.15);
        font-family inherit;
        font-size inherit;
        font-weight inherit;
        resize none;
        outline 0;
      .go
        position absolute;
        display block;
        top 0;
        right 0;
        cursor pointer;
        font-size 20px;
        line-height 34px;
        color #fff;
        width 36px;
        height 36px;
