div(class="header")
    div(class="box")
        div(class="nav")
            i(class="movie movie-dianying")
            span(class="title") movie
            span(class="active") 首页
            span 分类
            span 推荐
    div(class="search")
        form
            input(placeholder="搜索你喜欢的")
            i(onclick="return false;" class="go movie movie-sousuo")
